@using Datos.Model
@model Peliculas
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EliminarProducto</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <h1>Eliminar Pelicula</h1>
        @if (TempData["ERROR"] != null)
        {
            <div class="alert alert-danger">
                <b>Ocurrio un error: </b>@(TempData["ERROR"])
            </div>
        }
        <form action="/Home/EliminarPelicula" method="post">
            <input type="hidden" name="IDPelicula" value="@Model.idPelicula" />
            <label>Nombre</label>
            @Html.TextBox("Nombre", Model.nombre, new { @class = "form-control", @readonly = true })
            <br />
            <label>Genero</label>
            @Html.TextBox("Genero", Model.GenerosPelicula.genero, new { @class = "form-control", @readonly = true })
            <br />
            <label>Fecha de lanzamiento</label>
            @Html.TextBox("FechaLanzamiento", Model.fechalanzamiento?.ToString("yyyy-MM-dd"), new { @class = "form-control", @readonly = true, Type = "date" })
            <br />
            @if (!string.IsNullOrEmpty(Model.nombreImagen))
            {
                <label>Imagen actual:</label>
                <br />
                <img src="~/Imagenes/@Model.nombreImagen" alt="Imagen actual" style="height:250px" />
            }
            <br />
            <label>¿Desea Eliminar la pelicula de la base de datos?</label>
            <br />
            <input type="submit" name="Eliminar" value="Cancelar" class="btn btn-primary" />
            <input type="submit" name="Eliminar" value="Confirmar" class="btn btn-success" />
        </form>
    </div>
</body>
</html>
